#email-area:hover ~ #background-color {
  height: 4.2em;
  transform: translateY(4em);
}

#password-area:hover ~ #background-color {
  height: 5.5em;
  transform: translateY(7.8em);
}

#footer-area:hover ~ #background-color {
  height: 5.9em;
  transform: translateY(13.2em);
}
